@page "/terra"

@using Terra
@using Codex
@inject Namer namer
@inject IPopulationReporter populationReporter
@inject IWorldAlterer worldAlterer
@inject IWorldReporter worldReporter
@inject IPartitionAlterer partitionAlterer

<pre>@WorldReport</pre>

<button class="btn btn-primary" @onclick="Report">Generate</button>
<button class="btn btn-primary" @onclick="ReportAgolora">Agolora</button>

@code {
    public string WorldReport { get; set; }

    private Random random = new Random();

    private World CreateWorld(decimal? worldPopulation = null)
    {
        worldPopulation ??= random.Next(1, 10_000) * 100_000m;

        var world = new World() { Name = this.namer.GetName(), Continents = CreatePartitions(worldPopulation.Value), Population = worldPopulation.Value };

        return world;
    }

    private List<Partition> CreatePartitions(decimal population)
    {
        var split = random.NextDouble();

        var partitions = new List<Partition>()
        {
            new Partition() { Name = this.namer.GetName(), Share = (decimal) split },
            new Partition() { Name = this.namer.GetName(), Share = (decimal) (1.0 - split) },
        };

        for (int i = 0; i < partitions.Count; i++)
        {
            var partition = new Partition(partitions[i]);

            var partitionPopulation = (partition.Share * population);

            if (partitionPopulation > 5_000_000)
            {
                partition.Partitions = CreatePartitions(partitionPopulation);
            }

            partitions[i] = partition;
        }

        return partitions;
    }

    private Task Report()
    {
        var world = CreateWorld();

        world.Continents = partitionAlterer.Randomize(world.Continents, 0, 30, 10);

        var report = populationReporter.Report(world.Population, Terra.Agolora.Challenges.AgoloraChallenges);

        var worldReport = worldReporter.Report(world, ReportVerbosity.Limited);

        WorldReport = report + Environment.NewLine + worldReport;

        return Task.CompletedTask;
    }

    private Task ReportAgolora()
    {
        var seed = 10;

        var world = Terra.Agolora.AgoloraWorld.Agolora;

        world.Continents = partitionAlterer.Randomize(world.Continents, 0, 30, 10, seed);

        worldAlterer.Alter(world);

        var report = populationReporter.Report(world.Population, Terra.Agolora.Challenges.AgoloraChallenges);

        var worldReport = worldReporter.Report(world, ReportVerbosity.Full);

        WorldReport = report + Environment.NewLine + worldReport;

        return Task.CompletedTask;
    }
}
