@page "/synger"

@using Spotify
@inject SpotifyHelper spotify

<h3>@CurrentlyPlayingSong?.Item.Name</h3>
<h4>@if(CurrentlyPlayingSong != null) @String.Join(", ", CurrentlyPlayingSong?.Item.Artists.Select(x => x.Name))</h4>
<h5>@CurrentlyPlayingSong?.Item.Album.Name</h5>

<button class="btn btn-primary" @onclick="SyncSong">Syng</button>

@code {
    private Spotify.SpotifyHelper.Song CurrentlyPlayingSong;

    private async Task SyncSong()
    {
        await spotify.SetGithubStatus();
        CurrentlyPlayingSong = await spotify.GetSong();
    }
}
